<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<ul>
  <li>
   <% @restaurant.reviews.each do |review|%>
  <div class = "card">
  <p><%= review.id%></p>
   rating: <%= review.content%>
   <%= review.rating%>
  </div>

   <%end%>
  </li>
</ul>

<%=link_to "add review",new_restaurant_review_path(@restaurant.id) %>

<%= link_to 'Edit', edit_restaurant_path(restaurant_id: @restaurant.id) %> |
<%= link_to 'Back', restaurants_path %>
